<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body id="page-top" >

    <!-- Page Wrapper -->
    <div id="wrapper" >

        <!-- Sidebar -->
        {{> adminnavbar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {{!-- style="background-color:#012840;" --}}
                <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow" > 


                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> {{#each userData}} {{ name }}  {{/each}}</span>
                                {{#each userData}}
                                <img class="img-profile rounded-circle" src="/{{ user_avatar }} ">
                                {{/each}}
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/admin-profile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4 ">
                    
                    <h1 class="h3 mb-0 text-warning "> <strong>Candidate Info</strong></h1> 
                    {{#if success}}
                    <div class="alert alert-success alert-dismissible fade-out"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong><i class="fa-solid fa-circle-info fa-sm fa-fw mr-2"></i></strong>
                    {{ success }}
                    </div>
                    {{/if}}
                    {{#if message}}
                    <div class="alert alert-danger alert-dismissible fade-out"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong><i class="fa-solid fa-circle-info fa-sm fa-fw mr-2"></i></strong>
                    {{ message }}
                    </div>
                    {{/if}}
                    </div>
                
                    <!-- Content Row -->
                    
                    <div class="row">

                        <div class="col-xl-12 col-lg-7">
                            <div class="card text-white shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #04668C;">
                                    <h6 class="m-0 font-weight-bold" ><i class="fa-solid fa-circle-info fa-sm fa-fw mr-2"></i>Candidate Information </h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body text-dark">
                                         <form>
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-7 py-3">
                                                <div class="card border-left-info shadow h-100 py-2">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Student ID of Candidate  <i class="text-danger float-right">{{#if message}} Please enter a valid Student ID {{/if}}</i>  </div>
                                                                    <input type="text" name="student_id" class="form-control" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                             
                                        </div>
                                        <button type="submit" class="btn btn-success" style="width: 100%;"><i class="fa-solid fa-magnifying-glass"></i> Search</button>  
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End Content Row -->
                    <!-- Content Row -->
                    
                    
                    <!-- Content Row -->

                    
                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; E-VOTING 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="candidateInfo" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/auth/admin-add-candidate" method="POST">    
                <div class="modal-header">
                    <h5 class="modal-title text-warning" id="exampleModalLabel"><strong>Add Candidate</strong></h5>
                </div>
                <div class="modal-body">        
                        <br>
                            <center>
                                <img class="img-thumbnail rounded-circle shadow-lg" src="/{{#each studentData}}{{ user_avatar }}{{/each}}" width="50%">
                            </center>
                            <br>
                        <div class="row">
                            <div class="col-xl-12 col-lg-7 py-2">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Student ID <i class="float-right text-danger">Cannot Change</i> </div>
                                                    {{#each studentData}}
                                                        <input type="text" class="form-control" value="{{student_id}}" disabled>
                                                        <input type="hidden" class="form-control" value="{{student_id}}" name="student_id">
                                                    {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-7 py-2">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Name <i class="float-right text-danger">Cannot Change</i> </div>
                                                    {{#each studentData}}
                                                        <input type="text" class="form-control" value="{{name}}" disabled>
                                                        <input type="hidden" class="form-control" value="{{name}}" name="name">
                                                    {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-7 py-2">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Department <i class="float-right text-danger">Cannot Change</i> </div>
                                                    {{#each studentData}}
                                                        <input type="text" class="form-control" value="{{department}}" disabled>
                                                        <input type="hidden" class="form-control" value="{{department}}" name="department">
                                                    {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-7 py-2">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Position</div>
                                                    <select class="form-control" name="position" required>
                                                        <option value="">Choose Position</option>
                                                        {{#each positionData}}
                                                        <option value="{{id}}">{{position}}</option>
                                                        {{/each}}
                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Add Candidate</button>
                    <a href="/admin-add-candidate"><button class="btn btn-secondary" type="button">Cancel</button></a>
                </div>
                    </form>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(window).on('load', function() {
        $('#candidateInfo').modal('show');
        
    });
</script>

</body>

</html>